<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
 <head th:include="layout :: htmlhead" th:with="title='Muito Mais barato!'"></head>
<body>

  <div th:replace="layout :: navbar">(navbar)</div>
  
<div class="panel panel-default">
        <div class="panel-heading">
            <strong> <img class="img-circle" src="https://media.istockphoto.com/vectors/shopping-trolley-cart-icon-in-green-circle-vector-vector-id898475764?k=6&m=898475764&s=612x612&w=0&h=8aYKNE02wUGGsa2LUvCxkfDRNr91y6OJJrwsvj882NY=" width="50px"> Produtos</strong>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-sm table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Categoria</th>
                            <th>Descrição</th>
                            <th>Marca</th>                            
                            <th>Editar</th>
                            <th>Excluir</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="produto : ${produtos}">
                            <td th:text="${produto.id}"></td>
                            <td th:text="${produto.nome}"></td>
                            <td th:text="${produto.categoria}"></td>
                            <td th:text="${produto.descricao}"></td>
                            <td th:text="${produto.Marca}"></td>
                            <td>
                                <a class="btn btn-sm btn-primary" th:href="@{/produto/edit/{id}(id=${produto.id})}" >Editar</a>
                            </td>
                            <td>
                            	<a class="delete btn btn-sm btn-danger" th:href="@{/produto/delete/{id}(id=${produto.id})}">Excluir</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                       
						    
            </div>
        </div>
         <div class="panel-footer">
            <a class="btn btn-sm btn-success" th:href="@{/produto/add/}" >Adicionar</a>
        </div>
    </div>
    <div th:include="layout :: footer" id="footer">(footer)</div>
</body>
</html>