<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
 <head th:include="layout :: htmlhead" th:with="title='Muito Mais barato!'"></head>
<body>

  <div th:replace="layout :: navbar">(navbar)</div>
  
       
            <strong>   <h2>Principais informações do sistema:</h2></strong>
 


		<div class="row student-comments">

         <div class="student-comment-content">

            <div class="comment-container col-xs-12 col-sm-4">
               <div class="comment">
                  <div class="comment-head">
                     <img class="img-circle" src="https://media.istockphoto.com/vectors/shopping-trolley-cart-icon-in-green-circle-vector-vector-id898475764?k=6&m=898475764&s=612x612&w=0&h=8aYKNE02wUGGsa2LUvCxkfDRNr91y6OJJrwsvj882NY=" alt="Student comments">
                  </div>
                  <div class="comment-content">
                     <p> <span class="student-name">Produtos:&nbsp;</span>Existem <span th:text="*{qtdProdutos}"></span> produtos cadastrados em nosso sistema!</p>
                  </div>
               </div>
            </div>

            <div class="comment-container comment-scalable-container col-xs-12 col-sm-4">
               <div class="comment comment-scalable">
                  <div class="comment-head">
                     <img class="img-circle" src="https://png.pngtree.com/element_origin_min_pic/17/09/19/d1faf27e162744f62f6781d85e5ef759.jpg" alt="Student comments">
                  </div>
                  <div class="comment-content">
                                   <p> <span class="student-name">Clientes:&nbsp;</span> <span th:text="*{qtdClientes}"></span>  pessoas estão cadastradas no sistema atualmente.</p>
                  </div>
               </div>
            </div>

            <div class="comment-container col-xs-12 col-sm-4">
               <div class="comment">
                  <div class="comment-head">
                     <img class="img-circle" src="http://www.oxnardchamber.org/uploads/8/8/0/4/88045252/small-business-icon_1_orig.png" alt="Student comments">
                  </div>
                  <div class="comment-content">
                     <p> <span class="student-name">Estabelecimentos:&nbsp;</span><span th:text="*{qtdEstabelecimentos}"></span>  estabelecimentos já se cadastraram conosco!</p>
                  </div>
               </div>
            </div>

         </div>
      </div>
</div>
    
    <div th:include="layout :: footer" id="footer">(footer)</div>
</body>
</html>