<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
	<title>Login - </title>
	<head th:include="layout :: htmlhead" th:with="title='Muito Mais barato! - Login'"></head>
</head>
<body>


	<div class="wrapper">
		<div class="container">
			<h1>Welcome</h1>

			<form class="form">
				<input type="text" placeholder="Username"> <input
					type="password" placeholder="Password">
				<button type="submit" id="login-button">Login</button>
			</form>
		</div>

		<ul class="bg-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous"></script>

</body>
</html>